In [107]:
#Import our Libraries
import pandas as pd
import duckdb

In [108]:
#Create a Dataframe with our CSV Data
df = pd.read_csv('customer_orders.csv')

In [109]:
df

,order number,employee id,employee name,employee name.1,employee_job_title,order date,order type,customer type,cust id,customer name,customer name.1,prod category,prod number,prod_name,quantity,price,order total
0,1102935,900019019,Alexandra Kundt,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.0
1,1102935,900019019,Alexandra Kundt,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.0
2,1102976,900019019,Alexandra Kundt,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.5
3,1102976,900019019,Alexandra Kundt,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.5
4,1102988,900019019,Alexandra Kundt,Alexandra Kundt,Senior Sales Associate,2/16/2019,Retail,Individual,2253,Far Pow,Far Pow,Olive Oil,OO302,Chili Extra Virgin Olive Oil,4,$26.00,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5131,1107851,900015961,Wynona Smith,Wynona Smith,Sales Associate III,1/11/2021,Wholesale,Business,2905,Kautzer Inc,Kautzer Inc,Olive Oil,OO608,Rosemary Extra Virgin Olive Oil 6pk,6,$123.00,738.0
5132,1107859,900015961,Wynona Smith,Wynona Smith,Sales Associate III,1/12/2021,Retail,Individual,3899,Derry Game,Derry Game,Gift Basket,GB303,Scented Olive Oil Lotion Gift Basket,4,$27.00,108.0
5133,1107913,900015961,Wynona Smith,Wynona Smith,Sales Associate III,1/18/2021,Retail,Individual,3165,Pren Stockport,Pren Stockport,Olive Oil,OO128,Chili Extra Virgin Olive Oil 12pk,2,$234.00,468.0
5134,1107972,900015961,Wynona Smith,Wynona Smith,Sales Associate III,1/27/2021,Retail,Individual,3688,Charlene Portam,Charlene Portam,Olive Oil,OO128,Chili Extra Virgin Olive Oil 12pk,2,$234.00,468.0
5135,1107998,900015961,Wynona Smith,Wynona Smith,Sales Associate III,1/31/2021,Retail,Individual,1478,Vernon de Almeida,Vernon de Almeida,Olive Oil,OO609,Lemon Extra Virgin Olive Oil 6pk,3,$123.00,369.0

In [110]:
df.columns

Index(['order number', 'employee id', 'employee name', 'employee name.1',
       'employee_job_title', 'order date', 'order type', 'customer type',
       'cust id', 'customer name', 'customer name.1', 'prod category',
       'prod number', 'prod_name', 'quantity', 'price', 'order total'],
      dtype='object')

In [111]:
df_unique_columns = df[['order number', 'employee id', 'employee name',
       'employee_job_title', 'order date', 'order type', 'customer type',
       'cust id', 'customer name', 'prod category',
       'prod number', 'prod_name', 'quantity', 'price', 'order total']]

In [112]:
df_unique_columns

,order number,employee id,employee name,employee_job_title,order date,order type,customer type,cust id,customer name,prod category,prod number,prod_name,quantity,price,order total
0,1102935,900019019,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.0
1,1102935,900019019,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.0
2,1102976,900019019,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.5
3,1102976,900019019,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.5
4,1102988,900019019,Alexandra Kundt,Senior Sales Associate,2/16/2019,Retail,Individual,2253,Far Pow,Olive Oil,OO302,Chili Extra Virgin Olive Oil,4,$26.00,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5131,1107851,900015961,Wynona Smith,Sales Associate III,1/11/2021,Wholesale,Business,2905,Kautzer Inc,Olive Oil,OO608,Rosemary Extra Virgin Olive Oil 6pk,6,$123.00,738.0
5132,1107859,900015961,Wynona Smith,Sales Associate III,1/12/2021,Retail,Individual,3899,Derry Game,Gift Basket,GB303,Scented Olive Oil Lotion Gift Basket,4,$27.00,108.0
5133,1107913,900015961,Wynona Smith,Sales Associate III,1/18/2021,Retail,Individual,3165,Pren Stockport,Olive Oil,OO128,Chili Extra Virgin Olive Oil 12pk,2,$234.00,468.0
5134,1107972,900015961,Wynona Smith,Sales Associate III,1/27/2021,Retail,Individual,3688,Charlene Portam,Olive Oil,OO128,Chili Extra Virgin Olive Oil 12pk,2,$234.00,468.0
5135,1107998,900015961,Wynona Smith,Sales Associate III,1/31/2021,Retail,Individual,1478,Vernon de Almeida,Olive Oil,OO609,Lemon Extra Virgin Olive Oil 6pk,3,$123.00,369.0

In [120]:
df_clean_columns = df_unique_columns.reset_index()
df_clean_columns.columns = df_clean_columns.columns.str.replace(' ', '_')

In [ ]:
df_clean_columns.head()

In [ ]:
df_clean_columns[df.duplicated()]

In [129]:
df_clean_columns_rows = df_clean_columns.drop_duplicates(subset=['order_number', 'order_date'])

In [130]:
df_clean_columns_rows.head()

,index,order_number,employee_id,employee_name,employee_job_title,order_date,order_type,customer_type,cust_id,customer_name,prod_category,prod_number,prod_name,quantity,price,order_total
0,0,1102935,900019019,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.0
2,2,1102976,900019019,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.5
4,4,1102988,900019019,Alexandra Kundt,Senior Sales Associate,2/16/2019,Retail,Individual,2253,Far Pow,Olive Oil,OO302,Chili Extra Virgin Olive Oil,4,$26.00,104.0
5,5,1103012,900019019,Alexandra Kundt,Senior Sales Associate,2/19/2019,Wholesale,Business,4083,Swift Inc,Olive Oil,OO125,Garlic Extra Virgin Olive Oil 12pk,4,$234.00,936.0
6,6,1103031,900019019,Alexandra Kundt,Senior Sales Associate,2/22/2019,Retail,Individual,2678,Carmine Priestnall,Olive Oil,OO128,Chili Extra Virgin Olive Oil 12pk,3,$234.00,702.0